$body-bg : #0A100C;
@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: aliceblue;
}
input{
    color: aliceblue;
}
textarea:focus, input:focus {
    color: #ff0000;
}


::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
// Body


// Header*************************************

.header-title{
    font-family: 'Slabo 27px', serif;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: aliceblue;
}
.header-captions{
    font-family: 'Roboto', sans-serif;
    color: #5C5C5C;
    font-size: 18;
    font-weight: 800;
}

.container-login-icon{
    background-color: #313131;
    border-radius: 30px;
    height: 30px;
    width: 30px;
}

// Searchbar ***************

.search-bar{
    height: 50px;
    border-radius: 30px;
}

.search-bar-input-results{
    background-color: aliceblue;
    border-radius: 30px;
    border: none;
    height: 50px;
}
.container-search-bar-results{
    background-color: aliceblue;
    border-radius: 30px;
    width: 500px;
    height: 50px;
}

// Poster
.container-poster{
    position: absolute;
    bottom: 0px;
    height: 500px;
    background-size: cover;
    background-image: url("../assets/poster_college_cropped.png");
    @media (max-height : 1532px) {
        height: 300px;
        
    }
    @media (max-width: 576px) {
        height: 600px;
        background-size: fill;
        
    }
}

// Forms
.container-form-details{
    width: 350px ;
    color: aliceblue;
    @media (max-width:450px) {
        width: 300px;
    }
}

.input-field-details{
    color: aliceblue;
    margin: 5px 0px;
    background-color: #1A201C;
    border-width: 0px;
    border-radius: 15px;
    text-align: center;
    padding: 5px 0px;

}

// Main Section ******************
.main-section-container{
    display: flex;
    position: absolute; 
    left: 0%; 
    right: 0%; 
    top: 0%;
    bottom: 0%;
}

#Login_body{
    background: url("../assets/login_bg_shot.png"), #0A100C;;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    @media (max-width:1220px) {
        background: #0A100C;
    }
}

.title-login{
    color: aliceblue;
    font-size: 20px;
    margin: 20px 0px;
}
.btn-submit{
    background-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%);
    margin: 20px 0px 5px 0px;
    padding: 15px 45px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 20px;
    border-width: 0px;
    display: block;
    color: aliceblue;
    font-family: 'Satisfy', "cursive";
}

.btn-submit:hover {
    background-position: right center; /* change the direction of the change here */
    color: aliceblue;
    text-decoration: none;

  }

.features{
    color: #B7B5B9;
    font-size: 10px;
    margin: 0px;
    padding: 0px;
}
 